<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        html,
        body,#ty {
            width: 100%;
            height: 100%;
        }

        #maps {
            width: 500px;
            height: 350px;
        }

        #example-3 {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999;
        }
    </style>
</head>

<body>
    <div id="ty">

        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <div id="maps"></div>
    </div>
</body>
<script src="./js/vue.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B5MOkhGZH7RbC4GGILokeMw2Bo88fIMf"></script>
<script>
    new Vue({
        el: "#ty",
        data() {
            return {
                map: null,
                checkedNames: [],
            }
        },
        mounted() {
            this.initMap();
        },
        methods: {
            initMap() {
                var _this = this;
                // 百度地图API功能
                _this.map = new BMap.Map("maps");
                _this.map.centerAndZoom(new BMap.Point(116.429913, 40.124019), 9);
                _this.map.enableScrollWheelZoom();
                //坐标
                _this.map.addEventListener("click", function (e) {
                    alert(e.point.lng + "," + e.point.lat);
                });
                //行政区划
                function getBoundary() {
                    var arr = ["乌鲁木齐市", "米东区", "达坂城区", "水磨沟区", "新市区", "头屯河区", "天山区", "沙依巴克区", "乌鲁木齐县"]
                    var color = ['', "#a411db", "#004986", "#e3710b", '#88abda', '#8fc31f', "#8f82bc", "#002e73", "#ffff00", "#5c6ebd", "#009944", "#00b7ee", "#ff0000", "#8f82bc", "#f19ec2", '#ffff00', "#ff0000"];
                    for (let j = 0; j < arr.length; j++) {
                        var bdary = new BMap.Boundary();
                        bdary.get(arr[j], function (rs) {       //获取行政区域    
                            var count = rs.boundaries.length; //行政区域的点有多少个
                            var pointArray = [];
                            console.log((rs.boundaries))
                            for (var i = 0; i < count; i++) {
                                var ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: color[j], fillColor: color[j], fillOpacity: ".8", strokeOpacity: '.8' }); //建立多边形覆盖物
                                _this.map.addOverlay(ply);  //添加覆盖物
                                pointArray = pointArray.concat(ply.getPath());
                            }
                            // map.setViewport(pointArray);    //调整视野  
                            addlabel();
                        });

                    }

                }

                getBoundary();


                /*
   * 利用百度地图接口描边(name,map[,borderColor,backgroundColor,backgroundOpacity,coverFlag])
   */
                function getBoundary1(name, map, borderColor, backgroundColor, backgroundOpacity, coverFlag) {
                    if (!name) return;
                    var bdary = new BMap.Boundary();
                    bdary.get(name, function (rs) { //获取行政区域
                        // map.clearOverlays(); //清除地图覆盖物
                        var count = rs.boundaries.length; //行政区域的点有多少个
                        var pointArray = [];
                        console.log(count)
                        if (count === 0) {
                            console.log('未能获取当前输入行政区域');
                            alert('未能获取当前输入行政区域');
                            return;
                        }
                        for (var i = 0; i < count; i++) { //边界线
                            var ply = new BMap.Polygon(rs.boundaries[i], {
                                strokeWeight: 2,
                                strokeColor: borderColor || "#3385ff",
                                fillColor: backgroundColor || "rgba(255,255,255,0)",
                                fillOpacity: backgroundOpacity || 0.2
                            }); //建立多边形覆盖物
                            pointArray = pointArray.concat(ply.getPath());
                            map.addOverlay(ply); //添加覆盖物
                        }
                        map.setViewport(pointArray); //调整视野

                        /*=========外层遮罩层================================*/
                        // if (coverFlag && count < 3)
                        fillMask(rs.boundaries[0], _this.map); // 当count>2时有可能不准,取决于百度返回的边界数据
                    });
                }
                getBoundary1('乌鲁木齐市', _this.map, null, null, null, true)
                /*
                * addMarker 添加图标点位 （"116.111,24.666",map对象[,iconUrl(可为空),icon宽,icon高]）
                *
        
                /*
                *  添加外层遮罩层
                */
                function fillMask(borderData, map) {
                    console.log("333", map)
                    var strs = new Array(); // 外层边界所有坐标
                    strs = borderData.split(";");
                    var EN = "" //行政区划东北段点的集合
                        , NW = "" //行政区划西北段点的集合
                        , WS = "" //行政区划西南段点的集合
                        , SE = "" //行政区划东南段点的集合
                        , pt_e = strs[0] //行政区划最东边点的经纬度
                        , pt_n = strs[0] //行政区划最北边点的经纬度
                        , pt_w = strs[0] //行政区划最西边点的经纬度
                        , pt_s = strs[0] //行政区划最南边点的经纬度
                        , n1 = "" //行政区划最东边点在点集合中的索引位置
                        , n2 = "" //行政区划最北边点在点集合中的索引位置
                        , n3 = "" //行政区划最西边点在点集合中的索引位置
                        , n4 = ""; //行政区划最南边点在点集合中的索引位置

                    //4.自定义外围边框点的集合
                    var E_JW = "170.672126, 39.623555;" //东
                        , S_JW = "114.15563, -68.045308;" //南
                        , W_JW = "-169.604276, 38.244136;" //西
                        , N_JW = "105.913641, 81.291804;" //北
                        , EN_JW = "170.672126, 81.291804;" //东北角
                        , NW_JW = "-169.604276,  81.291804;" //西北角
                        , WS_JW = "-169.604276, -68.045308;" //西南角
                        , SE_JW = "170.672126, -68.045308;"; //东南角

                    var EN_cover = '' // 东北的区域
                        , NW_cover = ''
                        , WS_cover = ''
                        , SE_cover = '';

                    //2.循环行政区划边框点集合找出最东南西北四个点的经纬度以及索引位置
                    for (var n = 0; n < strs.length; n++) {
                        var pt_e_f = parseFloat(pt_e.split(",")[0])
                            , pt_n_f = parseFloat(pt_n.split(",")[1])
                            , pt_w_f = parseFloat(pt_w.split(",")[0])
                            , pt_s_f = parseFloat(pt_s.split(",")[1])

                        var sPt = new Array();
                        try {
                            sPt = strs[n].split(",");
                            var spt_j = parseFloat(sPt[0]);
                            var spt_w = parseFloat(sPt[1]);
                            if (pt_e_f < spt_j) { //东
                                pt_e = strs[n];
                                pt_e_f = spt_j; //经度最大
                                n1 = n;
                            }
                            if (pt_n_f < spt_w) { //北
                                pt_n_f = spt_w;
                                pt_n = strs[n];
                                n2 = n;
                            }
                            if (pt_w_f > spt_j) { //西
                                pt_w_f = spt_j; //经度最小
                                pt_w = strs[n];
                                n3 = n;
                            }
                            if (pt_s_f > spt_w) { //南
                                pt_s_f = spt_w;
                                pt_s = strs[n];
                                n4 = n;
                            }
                        } catch (err) {
                            alert(err);
                        }
                    }

                    n1 == '' ? n1 = 0 : n1 = n1;//刚好为0点
                    n2 == '' ? n2 = 0 : n2 = n2;
                    n3 == '' ? n3 = 0 : n3 = n3;
                    n4 == '' ? n4 = 0 : n4 = n4;

                    var sortObjArr = [ // 用于排序
                        { name: "n1", value: n1 },
                        { name: "n2", value: n2 },
                        { name: "n3", value: n3 },
                        { name: "n4", value: n4 },
                    ]
                    sortObjArr = sortObjArr.sort(function (a, b) { //从小到大
                        return a.value - b.value
                    });
                    var direObj = [
                        { name: "SE", value: '' },
                        { name: "WS", value: '' },
                        { name: "NW", value: '' },
                        { name: "EN", value: '' },
                    ]
                    //3.得出东北、西北、西南、东南四段行政区划的边框点的集合
                    var direction = 1; //1顺时针 0逆时针  以下使用n1,n2作比较得出方向
                    if (sortObjArr[3].name == 'n1' && sortObjArr[0].name == 'n2' || sortObjArr[0].name == 'n1' && sortObjArr[3].name == 'n2') { // 0点落在n1-n2区域
                        if (sortObjArr[3].name > sortObjArr[0].name) {
                            direction = 1;
                        } else {
                            direction = 0;
                        }
                    } else {// 0点不在n1-n2区域
                        if (n1 > n2) {
                            direction = 1;
                        } else {
                            direction = 0;
                        }
                    }
                    if (direction) {//顺时针
                        switch (sortObjArr[3].name) { //根据最大的数判断
                            case 'n1':
                                borderPointsAdd(rollRight(direObj, 0));
                                break;
                            case 'n2':
                                borderPointsAdd(rollRight(direObj, 1));
                                break;
                            case 'n3':
                                borderPointsAdd(rollRight(direObj, 2));
                                break;
                            case 'n4':
                                borderPointsAdd(rollRight(direObj, 3));
                                break;
                        }
                        for (var i = 0; i < 4; i++) {
                            if (direObj[i].name == 'EN') {
                                EN_cover = direObj[i].value + E_JW + EN_JW + N_JW;
                            } else if (direObj[i].name == 'NW') {
                                NW_cover = direObj[i].value + N_JW + NW_JW + W_JW;
                            } else if (direObj[i].name == 'WS') {
                                WS_cover = direObj[i].value + W_JW + WS_JW + S_JW;
                            } else if (direObj[i].name == 'SE') {
                                SE_cover = direObj[i].value + S_JW + SE_JW + E_JW;
                            }
                        }
                    } else { // 逆时针
                        switch (sortObjArr[3].name) {
                            case 'n1':
                                borderPointsAdd(rollLeft(direObj.reverse(), 0));
                                break;
                            case 'n2':
                                borderPointsAdd(rollLeft(direObj.reverse(), 1));
                                break;
                            case 'n3':
                                borderPointsAdd(rollLeft(direObj.reverse(), 2));
                                break;
                            case 'n4':
                                borderPointsAdd(rollLeft(direObj.reverse(), 3));
                                break;
                        }
                        for (var i = 0; i < 4; i++) {
                            if (direObj[i].name == 'EN') {
                                EN_cover = direObj[i].value + N_JW + EN_JW + E_JW;
                            } else if (direObj[i].name == 'NW') {
                                NW_cover = direObj[i].value + W_JW + NW_JW + N_JW;
                            } else if (direObj[i].name == 'WS') {
                                WS_cover = direObj[i].value + S_JW + WS_JW + W_JW;
                            } else if (direObj[i].name == 'SE') {
                                SE_cover = direObj[i].value + E_JW + SE_JW + S_JW;
                            }
                        }
                    }
                    function borderPointsAdd(obj) {
                        for (var o = sortObjArr[3].value; o < strs.length; o++) {
                            obj[0].value += strs[o] + ";"
                        }
                        for (var o = 0; o <= sortObjArr[0].value; o++) {
                            obj[0].value += strs[o] + ";"
                        }
                        for (var o = sortObjArr[0].value; o <= sortObjArr[1].value; o++) {
                            obj[1].value += strs[o] + ";"
                        }
                        for (var o = sortObjArr[1].value; o <= sortObjArr[2].value; o++) {
                            obj[2].value += strs[o] + ";"
                        }
                        for (var o = sortObjArr[2].value; o <= sortObjArr[3].value; o++) {
                            obj[3].value += strs[o] + ";"
                        }
                        return obj;
                    }

                    console.log('方向:', direction == 1 ? '顺时针' : '逆时针', '东n1', n1, '北n2', n2, '西n3', n3, '南n4', n4)
                    // console.log('东', pt_e, '北', pt_n, '西', pt_w, '南', pt_s)
                    //4.添加环形遮罩层
                    var ENPoints = EN_cover.split(';')//['118.34434,23.34254',...]
                        , SEPoints = SE_cover.split(';')//['118.34434,23.34254',...]
                        , WSPoints = WS_cover.split(';')//['118.34434,23.34254',...]
                        , NWPoints = NW_cover.split(';')//['118.34434,23.34254',...]
                        , ENBPoints = BPointIt(ENPoints)
                        , SEBPoints = BPointIt(SEPoints)
                        , WSBPoints = BPointIt(WSPoints)
                        , NWBPoints = BPointIt(NWPoints)

                    function BPointIt(arr) {
                        var Barr = []
                        for (var i = 0; i < arr.length; i++) {
                            if (arr[i].length == 0) continue;
                            Barr.push(new BMap.Point(arr[i].split(',')[0], arr[i].split(',')[1]))
                        }
                        return Barr;
                    }
                    for (var i = 0; i < 2; i++) {
                        var ply3 = new BMap.Polygon(ENBPoints, {
                            strokeColor: "none",
                            strokeWeight: 2,
                            fillColor: "#0c145f"
                        }); //建立多边形覆盖物
                        map.addOverlay(ply3); //遮罩物是半透明的，如果需要纯色可以多添加几层
                        var ply4 = new BMap.Polygon(SEBPoints, {
                            strokeColor: "none",
                            strokeWeight: 2,
                            fillColor: "#0c145f"
                        }); //建立多边形覆盖物
                        map.addOverlay(ply4); //遮罩物是半透明的，如果需要纯色可以多添加几层
                        var ply5 = new BMap.Polygon(WSBPoints, {
                            strokeColor: "none",
                            strokeWeight: 2,
                            fillColor: "#0c145f"
                        }); //建立多边形覆盖物
                        map.addOverlay(ply5); //遮罩物是半透明的，如果需要纯色可以多添加几层
                        var ply6 = new BMap.Polygon(NWBPoints, {
                            strokeColor: "none",
                            strokeWeight: 2,
                            fillColor: "#0c145f"
                        }); //建立多边形覆盖物
                        map.addOverlay(ply6); //遮罩物是半透明的，如果需要纯色可以多添加几层
                    }
                }



                function rollLeft(array, times) {
                    for (let time = 0; time < times; time++) {
                        let length = array.length - 1
                        let temp = array[0]
                        for (let i = 0; i < length; i++) {
                            array[i] = array[i + 1]
                        }
                        array[length] = temp
                    }
                    return array.concat();
                }
                /*
                * 数组整体右移一位，最后一位移至第一
                */
                function rollRight(array, times) {
                    for (let time = 0; time < times; time++) {
                        let length = array.length - 1
                        let temp = array[length]
                        for (let i = length; i > 0; i--) {
                            array[i] = array[i - 1]
                        }
                        array[0] = temp
                    }
                    return array.concat(); //array.concat()为浅拷贝，若改变里面的对象，则array也会改变
                }
                //添加区划名称
                function addlabel() {
                    var pointArray = [
                        new BMap.Point(87.692975,44.009135),
                        new BMap.Point(88.228797,43.468063),
                        new BMap.Point(87.285935,43.468063),
                        new BMap.Point(87.612487,43.692092),
                        new BMap.Point(87.472208,43.752136),
                        new BMap.Point(87.331928,43.950182),
                        new BMap.Point(87.511302,43.951844),
                        new BMap.Point(115.880294, 39.710529),
                        new BMap.Point(116.698973, 39.858683),
                        new BMap.Point(116.24594, 40.037457),
                        new BMap.Point(116.211445, 40.236913),
                        new BMap.Point(116.367822, 39.919802),
                        new BMap.Point(116.604687, 40.567443),
                        new BMap.Point(116.38162, 39.677661),
                        new BMap.Point(117.126711, 40.211352),
                        new BMap.Point(116.423014, 39.921573),
                    ];
                    var optsArray = [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {},];
                    var labelArray = [];
                    var contentArray = [
                        "米东区", "达坂城区", "乌鲁木齐县", "天山区", "沙依巴克区", "头屯河区", "新市区", "水磨沟区"];
                    for (var i = 0; i < pointArray.length; i++) {
                        optsArray[i].position = pointArray[i];
                        labelArray[i] = new BMap.Label(contentArray[i], optsArray[i]);
                        labelArray[i].setStyle({
                            color: "#333",
                            fontSize: "12px",
                            backgroundColor: "none",
                            border: "none",
                            height: "20px",
                            lineHeight: "20px",
                            fontFamily: "微软雅黑"
                        });
                        _this.map.addOverlay(labelArray[i]);
                    }
                }
            },
        },
    })
</script>

</html>